.delete_user{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    background-color: white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.excluir_user{
    margin-top: 30px;
}